<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TeacherMapper">

    <select id="selectMyPage" resultType="com.example.demo.entity.Teacher">
        SELECT * FROM teacher ORDER BY id DESC
    </select>

</mapper>
